{% extends 'tienda/base.html' %}
{% block contenido %}
{%load static%}

<section class="carroarriba">
    

    <!DOCTYPE html>

    <html lang="en">


    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Carrito</title>
        <link rel="stylesheet" href="{% static 'tienda/estilos2.css'%}">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    </head>


    <body>
        


        <header>


            <div class="bolsa bi-bag">
                <span class="cuenta">0</span>

                <div class="carrito">

                    <div class="arriba">
                        <h3>Tu Carrito Esta vacio!</h3>
                        <p>Empieza a Comprar ahora!</p>
                    </div>


                    <table>
                        <tbody>

                        </tbody>
                    </table>

                    <div class="abajo">
                        <div class="precios">
                            <p>Total:</p>
                            <p id="precio5">0</p>
                        </div>

                        <div class="botones">
                            <button>CHECKOUT</button>
                            <button>VIEWCART</button>
                        </div>
                        <a href="#" id="vaciar" OnClick="vaciar2();">Vaciar Carrito</a>
                    </div>
                </div>
            </div>
        </header>




        <div class="productos">

            <div class="producto">
                <div class="imagen">
                    <img src="imgs/1.png" alt="">
                </div>

                <h3>Jacket Negro</h3>
                <p>$19.99</p>

                <button>Anadir Al Carrito</button>
        
            </div>


            <div class="producto">
                <div class="imagen">
                    <img src="imgs/2.png" alt="">
                </div>

                <h3>Jacket Negro</h3>
                <p>$19.99</p>

                <button>Anadir Al Carrito</button>
        
            </div>

            <div class="producto">
                <div class="imagen">
                    <img src="imgs/3.png" alt="">
                </div>

                <h3>Jacket Negro</h3>
                <p>$19.99</p>

                <button>Anadir Al Carrito</button>
        
            </div>
            
            


        </div>






    </body>
    
    <script src="{% static 'tienda/js/carro.js'%}"></script>


    </html>
</section>















{%endblock%}