{% extends 'tienda/base.html' %}
{% block contenido %}
{%load static%}
  <h1 class="encabezado1">¿Dónde nos encontramos?</h1>
  <div class="mapContainer"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13379.459661036724!2d-71.5331841!3d-33.0336892!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x9689de64d74fd4af%3A0x8004f381e9055a38!2sDuoc%20UC%3A%20Sede%20Vi%C3%B1a%20Del%20Mar!5e0!3m2!1ses-419!2scl!4v1715559984787!5m2!1ses-419!2scl" width="1200" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
{%endblock%}
