{% extends 'tienda/base.html' %}
{% block contenido %}
{%load static%}

<body>
    
    <section id="inicio-sesion">

        <div class="wrapper">
            <form action="" method="post">

                <h1>Iniciar Sesión</h1>
                <div class="input-box">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                <div class="remember-forgot">
                    <label ><input type="checkbox">Recordar Usuario</label>
                    <a href="">¿Olvidó la Contraseña?</a>
                </div>

                <button type="submit" class="btn">Ingresar</button>
                <p class="warnings" id="warnings"></p>

                <div class="register-link">
                    <p>No tiene Cuenta? <a href="{% url 'registro' %}">Registrarse</a></p>
                </div>
            </form>
        </div>
    </section>    

</body>

      
    
{%endblock%}