{% extends 'tienda/base.html' %}
{% block contenido %}
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Registro</title>
</head>
<body>
    
    <section id="inicio-sesion">

        <div class="wrapper">
            <form action="" method="post">

                <h1>Registro de Usuario</h1>
                <div class="input-box">
                    {% csrf_token %}
                    {{ form }}
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                

                <button type="submit" class="btn">Registrar</button>
                <p class="warnings" id="warnings"></p>

                <div class="register-link">
                    <p>Tienes una Cuenta? <a href="{% url 'login' %}">Iniciar Sesion</a></p>
                </div>
            </form>
        </div>
    </section>    

</body>
</html>


{%endblock%}